<div>
  <form id="feed_criterion" action="tweets_feed" method="Get">
    Search String : <input type="text" id="search_string" name="search_string"/><br/><br/>
    Number of tweets : <select id = "number_of_tweets" name="number_of_tweets">
      <option id="number_of_tweets_2" value="2" selected="selected"> 2 </option> 
      <option id="number_of_tweets_3" value="3"> 3 </option>
      <option id="number_of_tweets_4" value="4"> 4</option>
      </select> 
       <input type="submit" value="Show tweets"/>
  </form>
</div>
